<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Contact details</th>
    <th>Category</th>
    <th style="width: 100px;">Actions</th>
  </tr>

  <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.title %></td>
        <td><%= notice.content %></td>
        <td><%= notice.contact_details %></td>
        <td><%= notice.category.title %></td>
        <td>
          <%= link_to 'Delete', notice_path(notice), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
</table>
