<h1><%= @notice.title %></h1>
<p><%= @notice.content %></p>
<p>
    Contact details: <b><%= @notice.contact_details %></b>
</p>
<p>
    <b>Category: </b> <%= @notice.category.title %>
</p>
    <%= link_to 'Edit notice', edit_notice_path, :html_options => {class: 'btn btn-default'} if can? :manage, :all %>
		<%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' }, :html_options => {class: 'btn btn-default'} if can? :manage, :all %>
<span class="btn btn-default">
    <%= link_to 'Back to list', root_path %>
</span>